.icon {
  background-image:url('../images/add.svg');
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  border: 0;
 
}

.icon-absolute {
  position: absolute;
}


.icon-remove {
  &::before,
  &::after {
    content: '';
    
    position: absolute;
    
  }


  &::after {
    transform: rotate(-45deg);
  }
}

.icon-add {
  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: $color-white;
  }
  &::after {
    transform: rotate(-90deg);
  }
}
