@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..90');

body {
  font-family: 'Anton', sans-serif;
  color: #000;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #000;
  background: $background-color;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

::placeholder {
  color: $placeholder-color;
  opacity: 1;
}

input,
textarea,
select {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: #000;
  background: transparent;
  outline: 0;
}

select {
  outline: 1;
}

button {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  background: transparent;
}

button.link {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  color: $color-blue;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    outline: 1px dotted $color-blue;
    opacity: 1;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: Anton, sans-serif;
}
